<h1>My Bookshelves</h1>
<ul>
  <% @bookshelves.each do |bookshelf| %>
    <li><%= link_to bookshelf.name, bookshelf_path(bookshelf) %></li>
  <% end %>
</ul>

<%= link_to "Add new bookshelf", new_bookshelf_path %>
